<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include('common/header')%>
    <h1>Hello, <%= data.name %></h1>

    <h2>Your email address: <%= data.email%></h2>
    <h2>Your phone: <%= data.phone%></h2>
    <div><b>Your skill's</b></div>
    <ul>
        <% data.skills.forEach((item )=> {%>
            <li><%= item%></li>
        <% })%>    
    </ul>
</body>
</html>